@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Poppins', 'Manrope', sans-serif;
  background-color: #ffffff;
  color: #000000;
}
